html {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    /* La cantidad de columnas es tomada por la cantidad de parametría */
    /* grid-template-columns: 25% 50% 25%;  */
    /* grid-template-rows: 200px 200px; */
    /* grid-template: filas / columnas; */
    /* grid-template: 200px 200px / 25% 50% 25%; */
    /* fr - fracciones */
    /* grid-template: 300px 100px 100px / 1fr 1fr 1fr; */
    grid-template: 300px 100px 100px / repeat(4, 1fr); /* Sintaxis diferente para 1fr 1fr 1fr 1fr*/
    grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));
    /* grid-column-gap: 30px;
    grid-row-gap: 50px; */
    /* grid-gap: filas columnas; */
    grid-gap: 10px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.item:nth-of-type(4) {
    background-color: blue;
    overflow: auto;
    /* display: subgrid; */
    /* display: inline-grid; */
    display: grid;    
    grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item {
    background: yellow;
}